.profile__name {
  max-width: 80%;
  font-size: 42px;
  font-weight: 500;
  line-height: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0 18px 0 0;
  padding: 0;
  display: inline-block;
  vertical-align: bottom;
}

@media screen and (max-width: 680px) {
  .profile__name {
    font-size: 27px;
    line-height: 33px;
    margin-right: 0;
    margin-bottom: 9px;
    text-align: center;
  }
}