@import url(../vendor/normalize.css);
@import url(../vendor/fonts/fonts.css);

@import url(../blocks/page/page.css);

@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

@import url(../blocks/content/content.css);

@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__avatar/profile__avatar.css);
@import url(../blocks/profile/__avatar/__avatar-image/profile__avatar-image.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/profile/__description/profile__description.css);
@import url(../blocks/profile/__button-add/profile__button-add.css);
@import url(../blocks/profile/__button-edit/profile__button-edit.css);
@import url(../blocks/profile/__avatar-edit-button/profile__avatar-edit-button.css);

@import url(../blocks/elements/elements.css);
@import url(../blocks/elements/__card/elements__card.css);
@import url(../blocks/elements/__image/elements__image.css);
@import url(../blocks/elements/__container/container.css);
@import url(../blocks/elements/__title/elements__title.css);
@import url(../blocks/elements/__button-like/elements__button-like.css);
@import url(../blocks/elements/__like-counter/elements__like-counter.css);
@import url(../blocks/elements/__button-like/_active/elements__button-like_active.css);
@import url(../blocks/elements/__button-delete/elements__button-delete.css);
@import url(../blocks/elements/__like-container/elements__like-container.css);

@import url(../blocks/footer/footer.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);

@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__input/_type_error/popup__input_type_error.css);
@import url(../blocks/popup/__input-error/popup__input-error_visible.css);
@import url(../blocks/popup/_image-form/popup_image-form.css);

@import url(../blocks/popup/__button-submit/popup__button-submit.css);
@import url(../blocks/popup/__button-submit/_inactive/popup__button-submit_inactive.css);
@import url(../blocks/popup/__button-close/popup__button-close.css);

@import url(../blocks/popup/__image-container/popup__image-container.css);
@import url(../blocks/popup/__image-place/popup__image-place.css);
@import url(../blocks/popup/__image-title/popup__image-title.css);